extends _template

block var
	- var pageTitl = "New Year Greeting from " + "政见 CNPolitics.org"
	- var pageDisc = "The new year greeting letter from the CNPolitics team"
	- var pageKeyw = "政见, CNPolitics, Chinese, politics, scholarship, greeting, new, year, letter, 2015, 2016"
	- var bodyClass = ""
	//--- Fake data

block bodyMain
	main.portal-wrap
