/**
 * Color palette
 */

@bg-main: #f4f2f0;

@text-main: #666666;
@text-sub: fadeout(black, 60%);

@line-color: rgb(0, 0, 0);



/**
 * Border preset
 */

@thinline: 1px solid fadeout(@line-color, 80%);
@hairline: 1px solid fadeout(@line-color, 90%);



/**
 * Font
 */

@font-base: "Minion Pro", "minion-pro", Athelas, "Sitka Text", Times, "Times New Roman", "Songti SC", SimSun, serif;
@font-base-sans: -apple-system, "Helvetica Neue", "Segoe UI", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;



/**
 * Icon
 */

.icon-wb,
.icon-wx,
.icon-fb {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	background-size: 24px 72px;
}

.icon-wb { background-position: 0 0; }
.icon-wx { background-position: 0 -24px; }
.icon-fb { background-position: 0 -48px; }